
<div>
  <h1 class='text-center pl-0'>Cookbook</h1>
<!--   <div class="bookmarks-category">
    <span class="active">Your bookmark</span>
    <span >Your selection</span>
  </div> -->

  <div class="bookmarks-list-container">
    <div class="bookmarks-cards-container active">
      <% if @bookmarks.empty? %>
        <h3>Empty Cookbook</h3>
          <div class="empty_bookrmark">
            <%= link_to "check some recipes", recipes_path %>
          </div>
      <% else %>
        <div class="bookmarks-cards">
          <% @bookmarks.each do |bookmark| %>
          <%= render 'shared/bookmarks_recipe', locals: { bookmark: bookmark } %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="foryou">
      <span>Trending</span>
    </div>
  </div>
</div>


