<h1>Buono! Bookmarks</h1>

<% if @bookmarks.empty? %>
  <h3>You dont have any bookmarks</h3>
  <%= link_to "check some recipes", recipes_path %>
<% else %>
  <div class='bookmars recipes'>
    <% @bookmarks.each do |bookmark| %>
      <%= render 'shared/recipe', locals: { recipe: bookmark.recipe } %>
      <%= link_to bookmark_path(bookmark.id), method: :delete, locals: { recipe_id: bookmark.recipe.id, page: 'bookmarks/index' } do %>
        <i class="fas fa-bookmark bookmark-icon-color-index"></i>
      <% end %>
    <% end %>
  </div>
<% end %>


