
<!-- <h1>Your favorite recipe</h1> -->
<div>
  <div class="bookmarks-container">
    <div class="bookmarks-profile"></div>
  </div>

  <div class="bookmarks-category">
<!--     <span>For you</span> -->
    <span>For you</span>
    <span>Your bookmark</span>
  </div>

  <div class="bookmarks-cards-container">
    <% if @bookmarks.empty? %>
      <h3>You dont have any bookmarks</h3>
       <%= link_to "check some recipes", recipes_path %>
    <% else %>
      <div class="bookmarks-card">
      </div>
    <% end %>
  </div>



</div>

