<div class='discover-container'>

  <div class="profile-icon">
    <p> <%= image_tag 'user.svg' %> </p>
  </div>



  <div class="d-flex">
    <h1>Title</h1>
    <h3>Under Title</h3>
  </div>


  <div>
    "search-bar"
  </div>


  <div class="recipe-cards-index">
    recipes cards
  </div>

  <div>
    <h3>Trending</h3>
    <div class="popular-cards">
      popular cards
    </div>
  </div>

</div>
