<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-icons">
        <p><i class="fas fa-search"></i></i><%= link_to 'fridge_path' %></p>
        <p><i class="fas fa-faucet"></i><%= link_to 'profile_path' %></p>
        <p><i class="far fa-plus-square"></i></i><%= link_to 'new_user_session_path' %></p>
    </div>
  </div>
</nav>
