// bookmarks-profil-pic
// .bookmarks-container {
//   padding: 2rem;
//   display: flex;
//   justify-content: center;
//   justify-items: center;
.bookmarks-profile {
  display: flex;
  justify-content:center;
  margin-top: 18px;
  margin-bottom: 18px;
    img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  }
}
    // background: gray;
    // padding: 1rem;
    // width: 80px;
    // height: 80px;
    // border-radius: 50%;
    // position: relative;


// menu

.bookmarks-category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;

  span {
    padding: 4px 8px;
    font-size: 1rem;
    font-weight: 600;
    color: $gray;

    &.active {
      color: $gray;
    }
  }
}

.bookmarks-list-container {
  > div:not(.active) {
    display: none;
  }
}

// bookmarked-cards

.bookmarks-recipe {
  height: 10em;
  margin-bottom: 3em;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .recipe-icons-top {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 12px;
    right: 22px;
    width: 120px;
    height: auto;
    align-items: center;
    z-index: 3;
    .bookmarks-recipe-time {
      font-size: 0.9rem;
      padding: .3em .4em;
      border: 1px solid white;
      color: $orange;
      border-radius: 23px;
      font-weight: 600;
      background: white;
      box-shadow: 0 0 .4px rgb(150,150,150);
    }
    .fa-bookmark {
      color: white;
      font-size: 2rem;
      text-shadow: 0 0 .4px rgb(150,150,150);
    }
  }
  .bookmarks-recipe-title-raiting {
    text-align: center;
    margin-bottom: 1rem;
    .bookmarks-recipe-title {
      font-size: 1rem;
      font-weight: 600;
    }
    .bookmarks-recipe-rating {
      font-size: 12px;
      color: $orange;
    }
  }
}

.empty_bookrmark {
  text-align: center;
  padding-top: 4em;
  a {
    border: 1px solid;
    background-color: $purple;
    border-radius: 20px;
    padding: 10px;
    color: white;
  }
}

.bookmarks-cards-container h3{
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}















