.edit-page {
  padding: 2.5em;
  margin: 1.5em 1.5em 1.5em 1.5em;
  background-color: white;
  border-radius: 12px;
  h2{
    color: $orange;
    font-weight: 600;
    text-align: center;
    margin-bottom: 18px;
  }
  .btn-profile {
    background-color: $purple;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    color: white;
    font-weight: 600;
  }
}
