.fridge{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;



  .fridge-content > h1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 0;
  }
}

.search-bar-fridge {
  position:relative;
  width: 100%;
  display: flex;

  .button-add {

    border: none;
    background-color: white;
    width: 59px;
    border-radius: 9px;
    margin-left: 5px;
  }
  .search-icon {
    width: 20px;


  }
}

.background-fridge {
  // margin-top: 50px;
  // margin-left: 50px;
}


