.fridge{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;



  .fridge-content > h1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 0;
  }
}

.search-bar-fridge {
  position:relative;
  width: 100%;
  display: flex;

  .button-add {

    border: none;
    background-color: white;
    width: 59px;
    border-radius: 9px;
    margin-left: 5px;
  }
  .search-icon {
    width: 20px;


  }
}

.background-fridge {
  // margin-top: 50px;
  // margin-left: 50px;
}


// modal

.shake-modal {
  .image {
    width: 100px;
    height: 160px;
    font-size: 40px;
    text-align: center;
    transform-origin: bottom center;
    animation: 3s rotate infinite;
    position: absolute;
    top: 35%;
    left: 38%;
    font-size: 100px;
    .fa-egg {
      color: #eec0c6;
    }
    .fa-lemon {
      color: yellow,
    }
    .fa-bacon {
      color: #A40606,
    }
    .fa-cheese {
      color: #ffa600
    }
    // -webkit-transform: translateX(-18%) translateY(50%);

  }

  // background-image: asset-url('backgroud_modal.svg');
  // background-repeat: no-repeat;
  // background-position: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1050; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: $orange; /* Fallback color */ /* Black w/ opacity */
}





// loader
.lds-roller {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  right: 50%;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: $purple;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



// loader-end




// @keyframes rotate{
//   0% {
//     transform: rotate(90deg);
//   }
//   10% {
//     opacity: 0;
//   }
//   35% {
//     transform: rotate(0deg);
//     opacity: 1;
//   }
//   65% {
//     transform: rotate(0deg);
//     opacity: 1;
//   }
//   80% {
//     opacity: 0;
//   }
//   100% {
//     transform: rotate(-90deg);
//   }
// }






