// Specific CSS for your home-page
.background {
background-image: asset-url('background.svg');
position:absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
background-repeat: no-repeat;
background-size: cover;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


// btn start to cook
.cta {
  padding: 1em;
  background-color: $purple;
  border-radius: 2em;
  color: white;
  margin-top: 2em;
}


.signup-login {
  padding-top: 2em;
}

.signup {
text-decoration: none;
color: white;
font-weight: 300;
font-size: 14px;
margin-right: 1em;
}

.login {
text-decoration: none;
color: white;
font-weight: 300;
font-size: 14px;
margin-left: 1em;
}


.signup-login  a:hover {
  text-decoration: none !important;
  color: white;
}

.signup-login a {
  position:relative;
}

.signup-login a::after{
  content: attr(data-content);
  position: absolute;
  color: transparent;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: $purple;
  z-index: -1;
  animation: fadein 0.5s normal forwards ease-in-out;
  animation-iteration-count: 1;
  animation-iteration-count: 1;
  transition: 0.5s ease;
}
.signup-login a:hover::after{
  bottom: 0;
  left: -20px;
  width: 100%;
  height: 40%;
}

