.login-page {
  padding: 2.5em;
  margin: 1.5em 1.5em 1.5em 1.5em;
  background-color: white;
  border-radius: 12px;
  h2{
    color: $orange;
    font-weight: 600;
    text-align: center;
    margin-bottom: 18px;
  }
  .form-actions {
    background-color: $purple;
    text-align: center;
    border-radius: 8px;
    opacity: 0.8;
  }
  .form-actions .btn {
    color: white;
    font-weight: 600;

  }
}

.form-control {
  border-radius: 5px;
}

.other {
  display: flex;
  justify-content: space-between;
  padding: 0 1.9em;
  a {
    color: #8B8083;
  }
}
