.recipes {
  display: flex;
  flex-direction: column;
}

.recipe-ingredients {


  ul li {
    border: 1px solid $purple;
    border-radius: 14px;
    background-color: $purple;
    color: white;
    margin: 3px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    font-weight: 600;
  }
  p {
    font-weight: 600;
  }
}


.search-categories {

  p {
    color: gray;
    padding: 1em;
    margin-bottom: -2px;
    font-size: 1rem;
    font-weight: 400;
  }
}
