.reset-page {
  padding: 2.5em;
  margin: 1.5em 1.5em 0 1.5em;
  background-color: white;
  border-radius: 12px;
  h2{
    color: $orange;
    font-weight: 400;
    text-align: center;
    margin-bottom: 18px;
    font-size: 21px;
  }
  .form-actions {
    background-color: $purple;
    text-align: center;
    border-radius: 8px;
    opacity: 0.8;
  }
  .form-actions .btn {
    color: white;
    font-weight: 600;

  }
}
