.card-recipe-show img {
  position: relative;
  width: 100%;
  border-radius: 0 0 1em 1em;
}

.instructions-container {
  padding: 2em;
  background-color: $purple;
  border-radius: 0 0 3em 3em;
  font-weight: 400;
  color: white;
  p {
    font-size: 1rem;
  }
  h3 {
    font-weight: 600;
    font-size: 1.5rem;
    color: $gray;
  }
}

.ingridients-container {
  background-color: $light-gray;
  padding-top: 1.5em;

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
    color: $gray;
    padding-left: .5em;
    max-width: 250px;
  }

  h6 {
    font-weight: 600;
    font-size: 1.2rem;
    padding-left: 26px;
    margin-bottom: 15px;
  }

  .recipe-rating {
    padding-right: 1em;
  }
}

.recipe-icons {
  display: flex;
  position: absolute;
  right: 8%;
  top: 10%;
  width: 100px;
  justify-content: space-between;
  .recipe-time {
    padding: .5em 1em;
    background-color: white;
    color: $orange;
    font-size: .7rem;
    border-radius: 1em;
    -webkit-transform: translateY(-13%);
  }
}

#accordion-1 {
  position: relative;
  .head {
    background-color: $light-gray;
    color: #563e6e;
    padding: 20px 30px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
      h3 {
      border-bottom: 10px solid $orange;
      padding-bottom: 6px;
    }
  }
    .arrow{
    color: $gray;
    font-size: 2rem;
    transition: 0.25s ease;
    transform: rotate(-90deg);
  }
}

#accordion-1 .head:hover .arrow{
  opacity: 1;
}

#accordion-1 .active{
  background-color: $orange;
  border-radius: 0 8em 8em 0;
}

#accordion-1 .arrow-animate{
  transform: rotate(0deg);
  opacity: 1;
  color: $gray;
}

#accordion-1 .content{
  background-color: $light-gray;
  display: none;
  padding: 1.5em 2em;
  color: $gray;
  ul {
    list-style: none;
    color: $gray
  }

}

#accordion-2 {
  position: relative;
  .head {
    background-color: $light-gray;
    color: #563e6e;
    padding: 20px 30px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    .arrow{
    color: $gray;
    font-size: 2rem;
    transition: 0.25s ease;
    transform: rotate(-90deg);
  }
}

#accordion-2 .head:hover .arrow{
  opacity: 1;
}

#accordion-2 .active{
  background-color: $purple;
  border-radius: 0 8em 8em 0;
}

#accordion-2 .arrow-animate{
  transform: rotate(0deg);
  opacity: 1;
  color: $gray;
}

#accordion-2 .content{
  background-color: $purple;
  display: none;
  padding: 1.5em 2em;
  color: $gray;
  p {
    color: white;
    font-size: 1rem;
  }

}
