<h1>Prepare something Buono!</h1>
<div class="recipes">
  <% if params[:ingredients] != nil %>
    <% @recipes.each do |hash|%>
      <% hash[:recipes].each do |recipe| %>
        <%= render 'shared/recipe', locals: {recipe: recipe} %>
      <% end %>
    <% end %>
  <% else %>
    <% @recipes.each do |recipe|%>
      <%= render 'shared/recipe', locals: {recipe: recipe} %>
    <% end %>
  <% end %>
</div>
