<h1>Prepare something Buono!</h1>
<% if params[:ingredients] != nil %>
  <% @recipes.each do |hash|%>
    <% ingredients_number = params[:ingredients].length %>
    <p>recepies with: <%= hash[:matching_ingredients]  %> / <%= ingredients_number %> ingredients</p>

    <div class="recipes">
      <% hash[:recipes].each do |recipe| %>
        <%= render 'shared/recipe', locals: {recipe: recipe} %>
      <% end %>
  <% end %>
<% else %>
  <% @recipes.each do |recipe|%>
    <%= render 'shared/recipe', locals: {recipe: recipe} %>
  <% end %>
<% end %>
