<div class="navbar-top">
  <div class ="icon-back">
    <% if (@recipe && current_page?(recipe_path(@recipe.id))) || current_page?(recipes_path) %>
      <%= link_to :back do %>
      <i class="fas fa-chevron-left"></i>
      <% end  %>
    <% end %>
  </div>
  <div class="icon-profile text-right">
    <% if user_signed_in? %>
      <i class="fas fa-user-circle"></i>
    <%else %>
      <i class="far fa-user"></i>
    <%end %>
  </div>
</div>



