<div class="navbar-top-back">
    <%= link_to 'javascript:history.back()' do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <%= link_to "user_path" do %>
      <i class="far fa-user"></i>
    <% end %>
</div>
