<div class="container-landingpage">
  <div class="background-form-top">
    <%= image_tag("form_top.svg") %>
  </div>
    <div class="background-form-bottom">
    <%= image_tag("form_top.svg") %>
  </div>
  <%= image_tag("logo/logo_big_white.png") %>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
