<div class="container-landingpage">

  <div class="background-form-top">
    <%= image_tag("form_top.svg") %>
  </div>
    <div class="background-form-bottom">
    <%= image_tag("form_bottom.svg") %>
  </div>
  <div id="logo">
    <%= image_tag("logo/logo_big_white.png") %>
  </div>

  <%= link_to "start cooking", recipes_path, class:"btn btn-ghost"%>

  <div class="signup-login">
    <a class="signup" href="#">Sign up</a>
    <a class="login" href="#">Log in </a>
  </div>

</div>



