<div class="background">
  <div id="logo">
    <%= image_tag("logo/logo_big_white.png") %>
  </div>
  <%= link_to "start cooking", recipes_path, class:"cta button-cta"%>
   <div class="signup-login">
    <a class="signup" href="#">Sign up</a>
    <a class="login" href="#">Log in </a>
  </div>
</div>

