<div class="background">

  <div id="logo">
    <%= image_tag("logo/logo_big_white.png") %>
  </div>
  <% if user_signed_in? %>
    <a class= "cta button-cta" href="/fridge">Start cooking</a>
  <% else %>
      <a class= "cta button-cta" href="/fridge">Start cooking</a>
     <div class="signup-login">
      <a class="signup" href="/users/sign_in">Sign up</a>
      <a class="login" href="/users/sign_in">Log in</a>
    </div>
  <% end %>
</div>

