<div class="background">

  <div id="logo">
    <%= image_tag("logo/logo_big_white.svg") %>
  </div>
  <p class='text-center'>eat well with less</p>
  <% if user_signed_in? %>
    <button class= "cta button-cta" id="trigger-req">Start cooking</button>
  <% else %>
    <div class="signup-login">
      <a class="signup" href="/users/sign_up">Sign up</a>
      <a class="login" href="/users/sign_in">Log in</a>
    </div>
    <button class= "cta button-cta" id="trigger-req">Start cooking</button>
  <% end %>
</div>

