.button-cta {
  background-color: $purple;
  color: white;
  padding: 2em 4em;
  border-radius: 4em;
  font-weight: 200;
  drop-shadow: (0px 2px 1px rgba(0, 0, 0, 0.25));
}

.button-cta:hover {
  opacity: .7;
}
