.recipe-card {
  overflow: hidden;
  height: 133px;
  background: #E0AC62;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 328px;
  margin-top: 10px;
  margin-left: 22px;
}

.recipe-card img {
  height: 100%;
  width: 328px;
  padding: 2%;
  object-fit: cover;
  border-radius: 5px;
}

.recipe-card h2 {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}

.recipe-card p {
  font-size: 8px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}



// Index


.indexpage-header p {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2.2rem;
  padding-top: 0;
  font-size: 14px;
  font-weight: 200;
}

.card-trip {
  overflow: hidden;
  background: white;
  position: relative;
  width: 100%;
  height: 70%;
  margin: 1.5em auto;
  display: flex;
  img {
    width: 60%;
    object-fit: cover;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5em 0.5em;
  }

}

.card-trip-time {
margin-top: 0;
margin-bottom: 0;
font-size: 12px;
text-align: right;
position: absolute;
z-index: 3;
left: 13px;
bottom: 129px;
border: 1px solid white;
border-radius: 55px;
background: white;
padding: 2px 4px;

}

.card-trip-infos {
  text-align: left;
  margin: 5px;
  padding: 0.5em;

  a {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
    color: $gray;
  }

  .rating_stars {
    color: orange;
    font-size: 12px;
  }
}


.card-trip-infos h2 a:hover {
text-decoration: none;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards {
  grid-template-columns:1fr;
  grid-gap: 13px;
  padding: 1.5rem auto;
}


// Show

.card-recipe-show {
  position: relative;
  overflow: hidden;
  background: white;
  border-radius: 3px;

}

.card-recipe-show > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

// .cooking_time {
//   position: absolute;
//   left: 3.33%;
//   bottom: 7.57%;
//   background: #FFFFFF;
//   border: 1px solid #FFFFFF;
//   box-sizing: border-box;
//   border-radius: 50px;
//   padding: 0.8%;
//   font-size: 10px;
//   color: #E0AC62;
// }

// .bookmark-recipe {
//   position: absolute;
//   left: 92.33%;
//   bottom: 85.57%;
// }



