// show container
.show-container {
  background-color: $light-gray;
}



.others-container {
  background-color: $light-gray;
  padding-left: 3%;


  h3 {
    font-weight: 385;
    font-size: 20px;
    color: #453E3E;
    align-items: top;
  }
}


.img-recipe-suggestion {
  padding: 2%;
  display: flex;
  justify-content: space-evenly;

  img {
    border-radius: 10px;
    width: 57px;
  }
}
