.navbar {
  position: fixed-bottom;
}

.navbar-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  width: 375px;
  height: 64px;
  left: 0px;
  bottom: 0px;

  .navbar-icons {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
  }

}

.navbar-top {
  background-color: transparent;
  padding: 1em 1.5em;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  i {
  color: #979797;
  }
}

// .navbar-top-back {
//   background-color: transparent;
//   padding: 1em 1.5em;
//   font-size: 18px;
//   display: flex;
//   justify-content: space-between;
//   i {
//     color: #979797;
//   }
// }
