.navbar {
  position: fixed-bottom;
}

.navbar-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  width: 375px;
  height: 64px;
  left: 0px;
  bottom: 0px;

  .navbar-icons {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
  }

}

.icon-profile {
  padding-top: 10%;
  padding-right: 10%;
}
