.navbar-top {
  position: sticky;
  top: 0;
  width: 100%;
  height: 2em;
  background-color: $darkGreen;
  padding: 1em 1.5em;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  img {
    height: 1.5rem;
  }

  i {
  color: white;
  }
}

.navbar-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  width: 100%;
  height: 64px;
  padding: 1em 1.5em;
  box-shadow: 0 0 2px rgb(240,240,240);
  .navbar-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
  }

}

// .User-area {
//   width: 45px;
//   height: 45px;
//   position: relative;
//   cursor: pointer;
//   > .User-avtar {
//     width: 100%;
//     height: 100%;
//     border-radius: 30px;
//     > img {
//       width: 100%;
//       height: 100%;
//       border-radius: 30px;
//     }
//     border: 2px solid #fff;
//     box-shadow: 0px 0px 12px -5px #000;
//   }
// }

.User-Dropdown {
  display: none;
  position: absolute;
  border-radius: 7px 0 0 7px;
  background: black;
  // box-shadow: 0px 0px 8px rgba(214, 214, 214, 0.78);
  list-style: none;
  padding: 0 20px;
  width: 200px;
  margin: 0;
  top: 48px;
  right: 0;
  &.U-open {
    display: block;
  }
  > li {
    opacity: 0;
    font-weight: 400;
    font-size: 13px;
    padding: 15px 25px 16px 10px;
    line-height: 47px;
    border-bottom: 1px solid rgba(215, 215, 215, 0.17);
    &:last-child {
      border-bottom: 0px;
    }
    > a {
      font-size: 13px;
      padding: 15px 25px 16px 10px;
      text-decoration: none;
      color: white;
      transition: all .2s ease-out;
      font-weight: 400;
    }
  }
  // span {
  //   background: #16d67a;
  //   padding: 3px 10px;
  //   color: #fff;
  //   border-radius: 30px;
  //   font-size: 13px;
  // }
  // > li {
  //   &:before {
  //     content: '';
  //     width: 0px;
  //     height: 40px;
  //     position: absolute;
  //     background: #2196F3;
  //     margin-top: 4px;
  //     border-radius: 0 1px 1px 0;
  //     left: 0px;
  //     transition: all .2s ease;
  //   }
  //   &:hover:before {
  //     width: 5px;
  //     border-radius:30px;
  //   }
  //   a:hover {
  //     margin-left: 5px;
  //   }
  // }
}

@keyframes menuListProfile{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
