.navbar {
  position: fixed-bottom;
}

.navbar-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  width: 100%;
  height: 64px;

  .navbar-icons {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
  }

}

.navbar-top {
  position: sticky;
  top: 0;
  width: 100%;
  height: 2em;
  background-color: $purple;
  padding: 1em 1.5em;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 1.5rem;
  }

  i {
  color: white;
  }
}


