.recipe {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1.25fr 1fr;

  .recipe-left {
    position: relative;
    background-color: black;
    border-radius: 0 1em 1em 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 1em 1em 0;
      opacity: .7;
    }

    .recipe-time {
      position: absolute;
      top: 0;
      left: 25%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      padding: .5em 1em;
      background-color: $orange;
      color: white;
      font-size: .7rem;
      border-radius: 1em;
    }

    .recipe-rating {
      color: yellow;
      position: absolute;
      bottom: .5em;
      left: 60%;
      font-size: .7rem;
    }
  }

  .recipe-title {
    text-align: left;
    padding: .5em 1em;
    font-size: .8rem;
    font-weight: 600;
  }

  .recipe-ingredients {
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    p {
      margin: .1em .5em;
    }
    .match {
      color: green;
    }
    .unmatch {
      color: red;
    }
  }
}
