.recipe-title-index {
  text-align: center;
  h6 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
  }
}

.recipe {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1.25fr 1fr;

  .recipe-left {
    position: relative;
    // background-color: black;
    // border-radius: 0 1em 1em 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 1em 1em 0;
      // opacity: .7;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

    .recipe-time {
      position: absolute;
      top: 0;
      left: 25%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      padding: .5em 1em;
      background-color: white;
      color: $orange;
      font-size: .7rem;
      border-radius: 0 1em 0 1em;
      font-weight: 600;
      box-shadow: 0 0 1px rgb(220,220,220);
    }

    .recipe-rating {
      color: rgb(250,190,25);
      position: absolute;
      bottom: .5em;
      left: 60%;
      font-size: .7rem;
      text-shadow: 0 0 1px rgb(100,100,100);
    }
  }

  .recipe-title {
    text-align: left;
    padding: .5em 1em;
    font-size: .8rem;
    font-weight: 600;
    padding-top: 0;
  }


  .recipe-right {
    min-height: 140px;
    max-height: 140px;
    margin-top: -4px;
  }

  .recipe-ingredients {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    margin-top: -19px;

    ul {
      margin-top: 0;
      margin-bottom: 1rem;
      line-height: 1.5em;
      font-size: .6rem;
      list-style: none;
      padding-left: 0;
    }
    p {
      margin: .1em .5em;
    }
    .match {
      font-weight: 600;
    }
    .unmatch {
      font-weight: 300;
    }
  }
}

