.select2-container--default .select2-selection--multiple {
  border-radius: 20px;
  border: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
  border: 0;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-radius: 14px;
  border: 1px solid $purple;
  background-color: white;
  color: $purple;

}


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
color: $purple;
border-right: 1px solid $purple;

}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline;
  list-style: none;
  padding: 0;
  top: 40px;
  position: absolute;
}
