// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'select2/dist/css/select2';


// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  padding-bottom: 64px;
  background-color: $light-gray;
}

h1 {
  font-size: 1.5rem;
  color: $gray;
  font-weight: 600;
  padding-left: 1em;
  padding-top: 1em;
  font-family: 'Permanent Marker', cursive;
}

a {
  color: $gray;
  text-decoration: none;
}

a:hover {
  color: $purple;
  text-decoration: none;
}

p {
  font-size: .7rem;
  font-weight: 200;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: $gray;
}
